* {
    padding: 0px;
    margin: 0px;
}
body, html {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
a:hover{
    text-decoration: underline;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}