@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdena, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive
}
* {
    padding: 0px;
    margin: 0px;
}
body, html {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}
header > p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
a:hover{
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 13vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: #313131;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #0000005e;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 100%;
}
section.imagem > p{
    background: #15151571;
    display: inline-block;
    padding: 20px;
    text-shadow: 2px 2px 0px black;
}
section#img01 {
    background-image: url("img/background001.jpg");
}
section#img02 {
    background-image: url("img/background002.jpg");
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}